{% load custom_filters %}
{% load tailwind_tags %}
{% load country_flag %}


<!DOCTYPE html>



<html lang="fr" >
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ "Plateforme KYC Test V0.2"|t }}</title>
    
    {% tailwind_css %}
    {% load static %}


    <link rel="stylesheet" href="{% static 'css/dist/styles.css' %}">
    <link rel="stylesheet" href="{% static 'css/dist/poppins.css' %}">
    <script src="{% static 'js/chart.min.js' %}"></script>
    <script src="{% static 'js/html2pdf.bundle.min.js' %}"></script>
    <script src="{% static 'js/alpine.min.js' %}" defer></script>


<style>
  [x-cloak] {
    display: none !important;
    visibility: hidden !important;
    opacity: 0 !important;
  }
</style>


</head>

<body class="bg-transparent">

<nav class="bg-gray-200 rounded-md p-2 fixed w-full z-10 top-0 border border-green-700 shadow-lg">
  <div class="max-w-6xl mx-auto px-4">
    <div class="flex items-center justify-between">

      
      <div class="flex items-center justify-start">
        <img class="h-10" src="/media/images/logo.png" alt="Logo">
      </div>

      
      <div class="flex-1 flex justify-center">
        
      </div>

      
      {% if user.is_authenticated %}
      <div class="flex items-center justify-end space-x-2">
        <div class="text-cyan-900 text-sm">
          {{ user.first_name }} {{ user.last_name }} | {{ user.organe }}
          {% if user.organe == "Chargé Client" %}
            agence {{ user.agence }}
          {% elif user.organe == "Directeur Agence" %}
            {{ user.agence }}
          {% endif %}
          ({{ user.filiale }}
          {% with user.filiale|filiale_iso as iso %}
            {% if iso %}
              <span class="rounded shadow-lg ml-1 fi fi-{{ iso|lower }} fis"></span>
            {% endif %}
          {% endwith %})
        </div>

        
        <div class="md:hidden flex items-center ml-2">
          <button class="outline-none mobile-menu-button shadow rounded-2xl">
            <svg class="w-10 h-10 text-gray-200 hover:text-gray-500" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" stroke="currentColor">
              <path d="M4 6h16M4 12h16M4 18h16"></path>
            </svg>
          </button>
        </div>
      </div>
      {% endif %}
    </div>

    
    <div class="mobile-menu hidden md:hidden mt-2">
      
    </div>
  </div>
</nav>

<div id="wrap" class=" oe_structure oe_empty"  >
    <section class="bg-white">

         <div class="flex justify-between items-center ">

                        </div>
        <div class="flex flex-col justify-center items-center">
            <div class=" centrage py-16 sm:py-24 xl:max-w-7xl xl:mx-auto xl:px-8">
                  <div class="ml-4 mr-4 p-14 bg-cyan-900 border border-green-900 rounded-3xl shadow-sm flex flex-col shadow-lg mt-5 ">

                       <form method="POST" class="space-y-5">
                                              <br>
                    <br>

                    <h1 class="text-xl text-center tracking-tight text-green-600">{{ "PLATEFORME FIABILISATION KYC"|t }} </h1>

<br>
      {% csrf_token %}

      {% for field in form.visible_fields %}

        <div class="flex flex-col w-full items-center rounded-md justify-center">
          <label for="{{ field.id_for_label }}" class="rounded-md block text-sm font-bold text-gray-200 mb-1">
            {{ field.label }}
          </label>
          <div class="flex flex-col w-full items-center rounded-md justify-center"></div> {{ field }}</div>
          {% if field.errors %}
            <p class="text-red-500 text-sm mt-1">{{ field.errors|striptags }}</p>
          {% endif %}

        </div>
      {% endfor %}

                           <div class="flex flex-col items-center justify-center">
                                <button type="submit"
              class=" w-60 py-3 px-4 bg-green-600 text-white rounded-md hover:bg-green-500 transition-colors">
        {{ "Valider"|t }}
      </button>
                           </div>



    </form>
         </div>

    <div class="mt-4">
<p class="text-sm text-gray-400 text-center"><a href="mailto:safkyc@boaholding.com" class="underline hover:no-underline hover:text-yellow-300">{{ "safkyc@boaholding.com"|t }}</a></p>

<p class="text-sm text-gray-400 text-center">© <span id="year"></span> {{ "Compliance Group"|t }}</p>
</div>
            </div>


            <div class="mt-10 text-red-900"> </div>
          <div class="mt-10 text-red-900"> </div>
             <div class="mt-10 text-red-900"> </div>
          <div class="mt-10 text-red-900"> </div>
        </div>
    </section>
</div>

</body>

