{% extends 'base.html' %}
{% block content %}

<section style="background-image: linear-gradient(135deg, rgb(66, 0, 0) 15%, rgb(5, 0, 66) 100%) !important;">
 <div class="flex flex-col justify-center items-center">
     <div class=" centrage py-16 sm:py-24 xl:max-w-7xl xl:mx-auto xl:px-8">
         <div class="text-gray-200">

             <div class="jumbotron">
                            <h1 class="display-4">BuurChange.</h1>
                            <p class="lead">Profitez des meilleurs taux du marché.</p>
                            <hr class="my-4">
                            <p>View available <a href="/trade/markets">markets</a> or the latest <a href="/trade/orders">orders</a></p>
             </div>
         </div>
     </div>
 </div>
</section>
{% endblock %}

